<h1>A quick guide to adding vendors</h1>
<h3>Below you will see a form that asks for a couple pieces of information.</h3>
<h3>Vendor Name: Pretty self-explanatory</h3>
<h3>Vendor Description: This one's a little more up to you. It could be their location, what they like to purchase from you, a specific note about their business,<br> whatever might help you keep better track of who they are and/or why you do business with them.</h3>
<h3>When you're done, press the submit button and your vendor list will begin populating.</h3>
<form action="/vendors" method="post">
  <label for="vendorName">Vendor Name</label>
  <input id="vendorName" name="vendorName" type="text">
  <label for="vendorDescription">Vendor Description</label>
  <input id="vendorDescription" name="vendorDescription" type="text">
  <button type="submit">Submit</button>
</form>

@* <p><a href="/vendors">RETURN TO VENDOR LIST</a></p>
<p><a href="/">RETURN TO MAIN PAGE</a></p> *@