@using PierreTracker.Models;

<h3>@Model["order"].OrderTitle</h3>
<p>Additional Details: @Model["order"].OrderDescription</p>
<p>Order Date: @Model["order"].OrderDate</p>
<p>Payment for Order: @Model["order"].OrderPrice</p>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>ADD ANOTHER ORDER</a></p>

<p><a href="/vendors">RETURN TO VENDOR LIST</a></p>