<h1>Greetings Pierre!</h1>
<h3>As requested, here is a handy app to help you keep track of all your vendors and the respective orders they have made.<br>Everything should be fairly straightforward, but additional instructions are included just in case.<br>Click below to bring up your list of vendors:</h3>

<a href="/vendors">LIST OF VENDORS</a>