<h1>Greetings Pierre!</h1>
<p>As requested, here is a handy app to help you keep track of all your vendors and the respective orders they have made.
<br>Everything should be fairly straightforward, but additional instructions are included just in case.</p>
<p>Click below to either bring up your current list of vendors or add a new vendor to your list:</p>

<p><a href="/vendors">LIST OF VENDORS</a></p>
<p><a href="/vendors/new">ADD A NEW VENDOR</a></p>